@model Videohosting.Models.Channel

@{
    ViewBag.Title = Model.User.UserName + "'s channel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="jumbotron">
        <h2 align="center" style="margin-top: -10px">@(Model.User.UserName)'s channel</h2>
        <br />
        <div id="sub-button" align="center" style="margin-top: -15px">            
            @if (!ViewBag.IsSubscribed)
            {
                using (Ajax.BeginForm("Subscribe", new AjaxOptions { UpdateTargetId = "sub-button", InsertionMode = InsertionMode.Replace }))
                {   
                    <input type="hidden" name="channelId" value="@Model.Id"/>
                    <input type="hidden" name="userName" value="@User.Identity.Name"/>
                    <input type="submit" class="btn btn-success" value="Subscribe" />
                }
            }
            else
            {
                using (Ajax.BeginForm("Unsubscribe", new AjaxOptions { UpdateTargetId = "sub-button", InsertionMode = InsertionMode.Replace }))
                {   
                    <input type="hidden" name="channelId" value="@Model.Id"/>
                    <input type="hidden" name="userName" value="@User.Identity.Name"/>
                    <input type="submit" class="btn btn-success" value="Unsubscribe" />
                }
            }                        
        </div>
    </div>
</div>

@Html.Partial("_SortVideos", Model)

<div id="results">
    @Html.Partial("_DisplayVideos", Model.Videos.ToList())
</div>

<div id="button" align="center">
    @using (Ajax.BeginForm("ViewMore", new AjaxOptions { UpdateTargetId = "results", InsertionMode = InsertionMode.InsertAfter }))
    {
        <input type="submit" class="btn btn-block" value="More" />
    }
</div>

@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
