@model Videohosting.Models.Channel

@{
    ViewBag.Title = Model.User.UserName + "'s channel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Scripts/jquery-1.10.2.min.js")

<script>
    $(document).ready(function () {        
        $("#sub-button").load("@Url.Action("CheckSubscription", "Channel", new { userName = HttpContext.Current.User.Identity.Name, channelId = Model.Id })");
    });
</script>

<div class="container">
    <div class="jumbotron">
        <h2 align="center" style="margin-top: -10px">@(Model.User.UserName)'s channel</h2>
        <br />
        <div id="sub-button" align="center" style="margin-top: -15px">
            @using (Ajax.BeginForm("CheckSubscription", new AjaxOptions { UpdateTargetId = "sub-button", InsertionMode = InsertionMode.Replace }))
            {
                <input type="hidden" name="channelId" value="@Model.Id" />
                <input type="hidden" name="userName" value="@User.Identity.Name" />                
            }
        </div>
    </div>
</div>

@Html.Partial("_SortVideos", Model)

<div id="results">
    @Html.Partial("_DisplayVideos", Model.Videos.ToList())
</div>

<div id="button" align="center">
    @using (Ajax.BeginForm("ViewMore", new AjaxOptions { UpdateTargetId = "results", InsertionMode = InsertionMode.InsertAfter }))
    {
        <input type="submit" class="btn btn-block" value="More" />
    }
</div>

@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
