@model Videohosting.Models.Channel

@{
    ViewBag.Title = "My channel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Upload new video", "Upload", "Video")
</p>

<h2>My videos</h2>        

@Html.Partial("SortVideos", Model);

<div id="results">
    @Html.Partial("_DisplayVideos", Model.Videos.ToList())
</div>

<div id="button" align="center">
    @using (Ajax.BeginForm("ViewMore", new AjaxOptions { UpdateTargetId = "results", InsertionMode = InsertionMode.InsertAfter }))
    {
        <input type="submit" class="btn btn-block" value="More" />
    }
</div>

@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")