@model Videohosting.Models.Channel

@{
    ViewBag.Title = "My channel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<button style="margin-top: 10px" class="btn btn-primary btn-lg" onclick="location.href = '@Url.Action("Upload", "Video")';return false;">
    Upload new video
</button>

<h2 align="center">My videos</h2>   

@Html.Partial("_SortVideos", Model)

<div id="results">
    @Html.Partial("_DisplayVideos", Model.Videos.ToList())
</div>

<div id="button" align="center">
    @using (Ajax.BeginForm("ViewMore", new AjaxOptions { UpdateTargetId = "results", InsertionMode = InsertionMode.InsertAfter }))
    {
        <input type="submit" class="btn btn-block" value="More" />
        <input type="hidden" name="userName" value="@Model.User.UserName"/>
    }
</div>

@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")