@using Microsoft.AspNet.Identity
@model Videohosting.Models.Video

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Title</h1>
<div class="row">
    <video style="outline: none; width: 600px;" controls="controls">
        <source src="@Url.Action("ShowVideo", "Video", new {id = Model.Id})" type="video/mp4">
    </video>
    @Html.ActionLink(Model.Chanel.User.UserName, "Chanel", "Chanel", new { userName = Model.Chanel.User.UserName }, null)


</div>
<div class="row">
    <div class="col-lg-2">
        <div id="bar" style="width: 100px; height: 10px">
            @{
                double percentage = Model.LikesCount;
                percentage = percentage / (Model.LikesCount + Model.DislikesCount);
                percentage = percentage * 100 % 101;
            }
            <div class="progress-bar" role="progressbar"
                 aria-valuemin="0" aria-valuemax="100" style="width:@percentage%"></div>
        </div>
    </div>
    <div class="col-md-1">
        @using (Ajax.BeginForm("Like", new AjaxOptions { UpdateTargetId = @"bar" }))
        {
            <input type="hidden" name="videoId" value="@Model.Id" />
                <div>
                    <input type="submit" value="Like" name="likeValue" id="Like" class="btn btn-default" />
                </div>

        }
    </div>
    <div class="col-md-1">
        @using (Ajax.BeginForm("Dislike", new AjaxOptions { UpdateTargetId = @"bar" }))
        {
            <input type="hidden" name="videoId" value="@Model.Id" />
                <div>
                    <input type="submit" value="Dislike" name="likeValue" id="Dislike" class="btn btn-default" />
                </div>

        }
    </div>
</div>
<div class="row">
    <p>@Model.Description</p>
</div>

<div class="comments">

    <div id="button">
        @using (Ajax.BeginForm("AddComment", new AjaxOptions { UpdateTargetId = @"ajax-comment", InsertionMode = InsertionMode.InsertBefore }))
        {
            <input type="hidden" name="name" value="@Model.Title" />
            <input type="text" name="message" />
            <input type="submit" value="Submit" />
        }
    </div>

    <div class="row">
        <div id="ajax-comment"> </div>
    </div>

    @foreach (var comment in Model.Comments)
    {
        <div class="">
            <p>@comment.User.UserName</p>
            <p>@comment.Message</p>
        </div>
    }
</div>


@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")