@model List<Videohosting.Models.Video>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model?.Count > 0)
{
    foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a href="@Url.Action("Display", "Video", new {name = item.FilePath})" type="video/mp4">
                    <video style="outline: none; width: 60%;" >
                        <source src="@Url.Action("ShowVideo", "Video", new {filePath = item.FilePath})" type="video/mp4">
                    </video>
                </a>
            </td>
        </tr>
    }
}
<div>
@using (Ajax.BeginForm("ViewMore", new AjaxOptions { UpdateTargetId = "results" }))
{
    <input type="submit" value="More" />
}

<div id="results"></div>
</div>

@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")