@using System.Web.Hosting
@model List<Videohosting.Models.Video>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model?.Count > 0)
{
    int j = 0;
    while (j < Model.Count) 
    {
        int k = j - 1;
         <div class ="row">
            @for(int i = j; i < Model.Count; i++)
            {                 
                if (File.Exists(HostingEnvironment.MapPath(@"~/App_Data/Videos/" + Model[i].FilePath)))
                {
                    <div class="col-md-4">
                        <p>@Html.DisplayFor(modelItem => Model[i].Title)</p>
                        <a href="@Url.Action("Display", "Video", new {name = Model[i].FilePath})" type="video/mp4">
                            <video style="outline: none; width: 100%;">
                                <source src="@Url.Action("ShowVideo", "Video", new {filePath = Model[i].FilePath})" type="video/mp4">
                            </video>
                        </a>
                    </div>
                    k++;
                }
                j++;
                if (k % 3 == 2)
                {
                    break;
                }
            }
         </div>
     }
}

<div id="results"></div>

<div id ="button">
    @using (Ajax.BeginForm("ViewMore", new AjaxOptions { UpdateTargetId = "results", InsertionMode = InsertionMode.InsertAfter }))
    {
        <input type="submit" value="More" />
    }

</div>

@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")